@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap');

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

nav {
  height: 157px;
  padding-right: 175px;
  padding-left: 175px;
}

section {
  padding-right: 175px;
  padding-left: 175px;
}


.navbar {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* .nav-wrapper {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
} */

.logo-img {
  height: 30px;
  align-items: baseline;
}
.navlogo .logo-img {
  /* background-color: black; */
  align-items: center;
}

.menu-wrapper > ul {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-member > ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.profile-section {
  background-image: url(/assets/image/stock/nathan-dumlao-XOhI_kW_TaM-unsplash\ 1.jpg);
}

.profile-section h2 {
  color: #ffffff;
}
.profile-box {
  background-color: #ffffff;
}
.profile-section .wrapper {
  /* background-color: aquamarine; */
  display: flex;
}

.profile-box {
  width: 100%;
  height: 951px;

  /* background: #df1717; */
  border-radius: 20px;
}

/* .profile-box .wrapper {
  display: flex;
} */

.profile-details {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 100%;
  height: 841px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.profile-details .edit-btn {
  height: 30px;
}

.profile-details .form-wrapper {
  background-color: rgb(234, 255, 0);
  display: flex;
  width: 100%;

  flex-direction: row;
}

.profile-details .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer */


footer{
  background-color: #f8f8f8;
}
.footer-clean{
  display: flex;
  flex-direction: row;
}

.footer-clean .container{
  background-color: antiquewhite;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  margin: auto;
  /* align-items: center; */
}

.f-wrapper{
  display: flex;
  justify-content: center;
}

.f-wrapper {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.logo .brand-name {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.desc-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: solid;
}
.item {
  margin-top: 10%;
  /* background-color: #6a4029; */
  justify-content: center;
  align-items: center;
}

.f-wrapper .side .wrapper {
  position: relative;
  left: 200px;
  width: 37%;
  /* text-align: right; */
  /* left: 50px; */
  /* background-color: #6a4029; */
}

.item .wrapper > ul > li {
  font-weight: 400;
  font-size: 16px;
}
.item > h4 {
  margin-right: 25px;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.f-wrapper .main {
  gap: 20px;
  /* background-color: #ffba33; */
}

.f-wrapper .side .one {
  left: 300px;
}
